@font-face {
  font-family: simpleTechBold;
  src: url('../fonts/simpletechbold-webfont.woff') format('woff');
}

@font-face {
  font-family: robotoThin;
  src: url('../fonts/roboto-thin-webfont.woff') format('woff');
}

body, html {
  height: 100%;
}

body {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.page {
  height: 400px;
  width: 95%;
  position: absolute;
  left: 2.25%;
  top: 2.25%;
}

.logotext {

  text-align: center;

  color: white;
  font-family: simpleTechBold;
  font-style: normal;
  font-size: 6em;
  letter-spacing: -35px;
  text-shadow: 2px 2px 6px #0C261E;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  -webkit-transition: color 2s, text-shadow 2s;
  -moz-transition: color 2s, text-shadow 2s;
  -o-transition: color 2s, text-shadow 2s;
  transition: color 2s, text-shadow 2s;
  margin-bottom: 0px;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  margin-left: auto;
  margin-right: auto;
  cursor: default;

}


.logotext:hover {
  color: #73E400;
  text-shadow: -2px -2px 6px #524138;
}

p.subtitle {
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 15px;
}
.btn {
  display: inline-block;
  margin: auto;
  pointer-events: none;
}

nav {
  display: flex;
  justify-content: center;
}

.navbutton {
  text-align: center;
  background-color: #FF6D00;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 5px 8px;
  margin:20px;
  -moz-box-shadow: 0px 2px 0px 0px #424242;
	-webkit-box-shadow: 0px 2px 0px 0px #424242;
	box-shadow: 0px 2px 0px 0px #424242;
}

.navbutton:hover {
  background-color: #FFAB40;
  transition: all 0.15s ease 0s;
  -moz-box-shadow: 0px 0px 4px 4px #424242;
	-webkit-box-shadow: 0px 0px 4px 4px #424242;
  box-shadow: 0px 0px 4px 4px #424242;
}

.navbutton:active {
  position: relative;
  top: 4px;
  transition: all 0.15s ease 0s;
}

#aboutme:before {
  content: "";
  font-size: 15px;
}

#aboutme:hover:before {
  position: absolute;
  top: 81%;
  content: "About Me";
  transition: all 0.3s;
  text-decoration: none;
  margin-left: -12px;
  font-family: robotoThin;
  font-size: 15px;
}

#aboutme:active:before {
  content: none;
}

#contact:before {
  content: "";
  font-size: 15px;
}

#contact:hover:before {
  position: absolute;
  top: 81%;
  content: "Contact Me";
  transition: all 0.3s;
  text-decoration: none;
  margin-left: -16px;
  font-family: robotoThin;
  font-size: 15px;
}

#contact:active:before {
  content: none;
}

#skills:before {
  content: "";

}

#skills:hover:before {
  position: absolute;
  top: 81%;
  content: "My Skills";
  transition: all 0.3s;
  text-decoration: none;
  margin-left: -8px;
  font-family: robotoThin;
  font-size: 15px;
}

#skills:active:before {
  content: none;
}

#recentworks:before {
  content: "";

}

#recentworks:hover:before {
  position: absolute;
  top: 81%;
  content: "Recent Works";
  transition: all 0.3s;
  text-decoration: none;
  margin-left: -23px;
  font-family: robotoThin;
  font-size: 15px;
}

#recentworks:active:before {
  content: none;
}

#achievements:before {
  content: "";

}

#achievements:hover:before {
  position: absolute;
  top: 81%;
  content: "Achievements";
  transition: all 0.3s;
  text-decoration: none;
  margin-left: -28px;
  font-family: robotoThin;
  font-size: 15px;
}

#achievements:active:before {
  content: none;
}

.content {
  position: absolute;
  top:170%;
}

section {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2em;
  font-family: monospace;
  margin-bottom: 7em;
}
